
.container {
    width: 90%;
    max-width: 1100px;
    margin-top: 70px;
    margin-left: 15%; /* Desplazamiento hacia la derecha */
}

/* Contenedor para las imágenes, solo una imagen visible a la vez */
.image-slider {
    display: flex;  /* Alinea las imágenes en una fila */
    overflow-x: scroll;  /* Habilita el scroll horizontal */
    width: 14%;  /* Asegura que ocupe todo el ancho disponible */
    scroll-snap-type: x mandatory;  /* Habilita el "snap" para el scroll */
    gap: 10;  /* Elimina el espacio entre las imágenes */
}

.image-placeholder {
    width: 100%;  /* La imagen ocupa todo el ancho del contenedor */
    max-width: 150px;  /* Ancho máximo de la imagen */
    height: 150px;  /* Altura de las imágenes */
    background-color: #ccc;
    border-radius: 5px;
    flex-shrink: 0;  /* Evita que las imágenes se encojan */
    scroll-snap-align: start;  /* Hace que la imagen se alinee al inicio del contenedor */
    margin-right: 5px;
}

/* Ajustes responsive */
@media (max-width: 768px) {
    .container {
        margin-left: 5%; /* Menos desplazamiento en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 0%; /* Sin desplazamiento en pantallas muy pequeñas */
    }
}

.card {
    background-color: #ffffff33;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


.info {
    flex-grow: 1;
    margin-left: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accept {
    background-color: #A4BF7A;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.reject {
    background-color: #DA441F;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}


/* From Uiverse.io by JaydipPrajapati1910 */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #ff9800;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: #ffbd59;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }
  
 
  .InfoLista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #fff;
    background-color: #ffffff33;
}
.FotoLista{
    width: 50px;
    height: 50px;
    border-radius: 15%;

}
  